[submodule "wiki"]
	path = wiki
	url = https://github.com/rlogiacco/3DP.wiki.git
[submodule "marlin/geeetech-i3"]
	path = marlin/geeetech-i3
	url = https://github.com/rlogiacco/marlin.git
	branch = geeetech-i3
[submodule "marlin/ender-3"]
	path = marlin/ender-3
	url = https://github.com/rlogiacco/marlin.git
	branch = ender-3
[submodule "site"]
	path = site
	url = https://github.com/rlogiacco/3DP.git
	branch = gh-pages
